<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title }) %>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="container">
            <h1 class="title">Lastest messages</h1>
            <% if (messages.length === 0) { %>
                <p>There's no new messages now</p>
            <% } else { %>
                <ul class="message-list">
                    <% messages.map((msg) => { %>
                        <li><%- include("partials/message-card", { message: msg }) %></li>
                    <% }) %>
                </ul>
            <% } %>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>