<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title }) %>
<body>
    <%- include("partials/header") %>
    <main>
        <h1>Post a message</h1>
        <form method="POST" action="/messages/new">
            <label for="user">User</label>
            <input type="text" id="user" name="user">
            <label for="text">Message</label>
            <textarea name="text" id="text"></textarea>
            <button>Submit</button>
        </form>
    </main>
    <%- include("partials/footer") %>
</body>
</html>